body{
    margin: 0;
    padding: 0;
}
.glavni{
   
    width: 100%;
    padding: 0 0 10px 0;
}
.header{
    background-image: url(/img/logo.jpg);
    width: 100%;
    padding: 100px 0;
    background-size: cover; 
}
.inline_block{
    display: inline-block;
    vertical-align: middle;
}
.text1, .text2, .text3{
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.text1{
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}
.text2{
    padding-bottom: 20px;
    font-size: 30px;
}
.text3{
    background-color: #d61616;
    padding: 10px 25px;
    
}
.drzacDugmeta{
    text-align: center;
}
.body1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    
    
}

.naslov{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 50px;
    
}
.logo{
    background-image: url(/img/branch.png);
    width: 40px;
    height: 40px;
    background-size: contain;

}
.maliNaslov{
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}
.text4{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.delovi{
    width: 28%;
    text-align: center;
    margin: 14px;
}
.drzacDelova{
    width: 80%;
    
}
.body2{
    width: 100%;
    background-color: #e72d2d;
    text-align: center;
    padding: 30px 0;
}
.calendar{
    background-image:url(/img/calendar.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    
}
.lokacija{
    background-image:url(/img/pin.png);
    background-size: cover;
    width: 15px;
    height: 15px;
}
.strelica{
    background-image:url(/img/location-arrow.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    position: relative;
    top: 8px;
}
.deo1{
    width: 30%;
    text-align: left;
}
.deo2{
    width: 20%;
    text-align: left;
    border-left: 1px solid #ffffff;
    padding-left: 15px;
}
.deo3{
    width: 20%;
    text-align: center;
}
.text5{
    font-size: 15px;
    color: #ffffff;

}
.text6{
    font: 10px;
    color: #ffffff;
    padding-top: 15px;

}
.text7{
    font-size: 15px;
    color: #ffffff;
    
    

}
.text8{
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
    
}
.dugme{
    padding: 10px 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    

}
.body3{
    width: 100%;
    background-color: #d0d2e6;
    text-align: center;
    
}
.drzacProzora{
    width: 80%;
    margin: 70px 0;
    text-align: center;
}
.prozor1{
    background-color: bisque;
    padding: 31px 8px;
    text-align: left;
    width: 45%;
    margin-right: 20px;
}
.drzacVremena1{
    width: 20%;
    border-right: 2px solid #ffffff;
    padding: 0 10px;
}
.vreme{
    font-size: 35px;
    color: #ffffff;
    text-align: center;

}
.prozor2{
    background-color: #ca1e1e;
    padding: 52px 0;
   
    width: 40%;
    
}
.dani{
    color: #ffffff;
}
.slika1{
    background-image: url(img/pekara2.png);
    width: 100%;
    height: 200px;
    background-size: contain;
}
.slika2{
    background-image: url(img/pekara2.png);
    width: 100%;
    height: 200px;
    background-size: contain;
}
.slika3{
    background-image: url(img/pekara2.png);
    width: 100%;
    height: 200px;
    background-size: contain;
}
.textA{
    font-weight: bold;
    padding: 15px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.textB{
    font-size: 25px;
}
.padding{
    padding-left: 25px;
}
.align{
    text-align: left;
}


